.signup {
  width: 63% !important;
  max-width: 67% !important;
  margin: 2rem auto !important;
  padding: 2rem !important;
}

.control {
  margin: 1rem 0 !important;
  display: flex !important;
  align-items: stretch !important;
  flex-direction: column !important;
}

.control label,
.control input {
  display: block !important;
}

.control label {
  font-weight: bold !important;
  flex: 0.7 !important;
  color: #464646 !important;
  margin-bottom: 0.5rem !important;
}

.control input {
  flex: 3 !important;
  font: inherit !important;
  padding: 0.35rem 0.35rem !important;
  border-radius: 6px !important;
  border: 1px solid #ccc !important;
}

.control input:focus {
  outline: none !important;
  border-color: #4f005f !important;
  background: #f6dbfc !important;
}

.control.invalid input {
  border-color: red !important;
  background: #fbdada !important;
}

.actions {
  text-align: center !important;
}

@media (min-width: 768px) {
  .control {
    align-items: center !important;
    flex-direction: row !important;
  }
}

.container__im2{
  background-image: url("../../Assets/bg_sky.jpg");
  padding: 3.4rem;
  max-width: 100%;
  max-height: 100%;
}

.center__headline {
  color: #ffffff;
}